.hero-image {
    max-width: 100%;
    height: auto;
  }
  
  /* Animation for tablet and desktop screens */
  @media (min-width: 768px) {
    .hero-image {
      animation: moveLeftToRight 3s linear infinite alternate;
      /* Change the duration (2s in this example) as per your preference */
    }
  
    /* Animation */
    @keyframes moveLeftToRight {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(20px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
  